# Gradle
.gradle/
build/

# Local configuration
local.properties

# Logs
*.log

# Android Studio
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# APK / AAB
*.apk
*.aab
output-metadata.json

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# macOS / Windows junk
.DS_Store
Thumbs.db
